{{#each users}}
    <div class="chat-list-item">
        {{#if avatar-url}}
            <img src="{{avatar-url}}" alt="" class="chat-list-item__avatar">
        {{else}}
            <img src="./src/img/companion-avatar.png " alt="" class="chat-list-item__avatar">
        {{/if}}
        <div class="chat-list-item__message">
            <span class="chat-list-item__message-from">{{@key}}</span>
            <span class="chat-list-item__message-text">{{message-text}}</span>
        </div>
        <div class="chat-list-item__information">
            <span class="chat-list-item__date">{{message-last-date}}</span>
            <span class="chat-list-item__unread">{{message-unread}}</span>
        </div>
    </div>
{{/each}}

